@import 'styles/global.scss';

.CampaignCard {
  padding: rem(153) 0 rem(39);
  overflow: hidden;
  @media #{$md} {
    padding: rem(107) 0 rem(37);
  }
  :global {
    .CampaignCard__title-wrap {
      display: block;
      margin: 0 rem(20) rem(40);
      @media #{$xl}{
        margin: 0 rem(0) rem(100);
      }
      h2 {
          font-family: $aeonik;
          color: #414042;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: -0.26px;
          line-height: 32px;
          margin-bottom: 0;
          @media #{$smm}{
            font-size: 45px;
            line-height: rem(45);
          }
          text-align: center;
          @media #{$xl} {
            color: #414042;
            font-size: 80px;
            letter-spacing: -0.91px;
            line-height: 80px;
          }
      }
      .CampaignCard__social-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          a {
              max-width: rem(20);
              margin-right: rem(20);
              &:last-child {
                  margin: 0;
              }
          }
      }
    }
    .CampaignCard__Wrapper {
      max-width: rem(1170);
      margin: 0 rem(-15);
    
      @media #{$xl} {
          margin: 0 auto;
      }
      .TestimonialCard__top h3 {
        font-weight: 900;
      }
      .slick-track {
        display: flex;
        padding: 0 0 rem(80);
        .slick-slide {
          height: auto;
          > div , .CampaignCard__item {
            height: 100%;
          }
        }
      }
      .slick-prev:before, .slick-next:before{
        color: #000;
        background-image: url('/images/campaign-slider-prev.svg');
        width: rem(40);
        height: rem(40);
        content: "";
        position: absolute;
        background-position: center;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -2.5rem;
      }
      .slick-prev:before{
        background-image: url('/images/campaign-slider-next.svg');
      }
      .slick-next:before{
        left: 35px;
      }
      .slick-prev:before{
        right: 35px;
      }
      .slick-list {
        @media (max-width: 768px) {
          padding: 0 rem(45) 0 rem(15) !important;
        }
      }
      
      .slick-dots {
        bottom: rem(0);
        li {
          margin: 0;
          button {
            &::before {
              font-size: rem(10);
             color: rgba(18,18,18,0.25);
            }
          }
          &.slick-active {
            button {
              &::before {
                color: $textdark;
              }
            }
          }
        }
      }
      .CampaignCard__item {
          padding: 0 rem(15) ;
      }
    }
    .campaign__testimonial{
      padding: rem(25) rem(19);
      @media #{$md}{
        padding: rem(46) rem(25) rem(47);
      }
      .TestimonialCard__middle{
        p{
          padding-right: 0;
          margin-bottom: rem(24.96);
          @media #{$md}{
            margin-bottom: rem(41);
          }
        }
        }
        .TestimonialCard__top{
          h3{
            // font-size: 6.45px;
            // letter-spacing: 0;
            line-height: 16px;
            @media #{$smm} {
              font-size: 24px;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 29px;
            }
          }
    }


    }
    // .TestimonialCard.main {
    //   background: $theme-green;
    //   padding: rem(65) rem(32) rem(50);
    //   height: 100%;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   display: none !important;
    //   @media #{$md} {
    //     border-radius: rem(10);
    //     padding: rem(65) rem(32) rem(50);
    //     min-height: rem(480);
    //     display: flex !important;
    //   }

    //     .TestimonialCard__top {
    //       h2 {
    //           font-family: $aeonik;
    //           font-weight: bold;
    //           color: $textdark;
    //           font-size: rem(28);
    //           line-height: rem(28);
    //           letter-spacing: rem(-0.34);
    //           margin: 0 0 rem(15);
    //           text-align: center;
    //           @media (min-width: 768px) {
    //               font-size: rem(40);
    //               line-height: rem(40);
    //               margin: 0 0 rem(20);
    //           }
    //       }
    //     }
    //     .TestimonialCard__middle {
    //       p {
    //           font-family: $aeonik;
    //           font-weight: 500;
    //           color: $textdark;
    //           text-align: center;
    //           font-size: rem(10);
    //           line-height: rem(15);
    //           letter-spacing: 0;
    //           margin: 0 0 rem(25);
    //           padding-right: 0;
    //           @media (min-width: 768px) {
    //               font-size: rem(17);
    //               line-height: rem(25);
    //               margin: 0 0 rem(35);
    //           }
    //       }
    //     }
    //   .RefiTestimonialCard__bottom {
    //     .RefiTestimonialCard__mn-social-wrap {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         a {
    //             max-width: rem(13);
    //             margin: 0 rem(13) 0 0;
    //             @media (min-width: 768px) {
    //                 max-width: rem(20);
    //                 margin: 0 rem(20) 0 0;
    //             }
    //             &:last-child {
    //                 margin: 0;
    //             }
    //         }
    //     }
    //   }
    // }

    .CampaignCard-desktopCards {
      display: block;
    }
    .CampaignCard-sliderMob {
      display: block;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
  &:global(.purchase) {
    :global {
      .CampaignCard__title-wrap {
        h2 {
          @media (max-width: 480px) {
            margin: 0 0 rem(40);
          }
        }
      }
    }
  }
}
