@import 'styles/global.scss';

.EasyStepsCard {
  :global {
    padding: rem(30) rem(15) rem(26);
    background-color: $theme-purple;
    margin: 0 rem(-15) rem(32);
    @media #{$md} {
        margin: 0 0 rem(64);
        padding: rem(32) rem(25) rem(60);
        box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.5);
        border-radius: rem(10);
    }
    @media #{$lg} {
        padding: rem(32) rem(90) rem(60);
    }
    .EasyStepsCard__title {
        font-weight: $degular;
        font-size: rem(48);
        font-weight: 700;
        line-height: rem(40);
        letter-spacing: rem(-0.41);
        color: $textdark;
        margin: 0 0 rem(53);
        text-align: center;
        @media #{$md} {
            font-size: rem(60);
            letter-spacing: rem(-0.51);
            margin: 0 0 rem(40);
        }
    }
    .EasyStepsCard__holder {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        @media #{$md} {
            margin: 0 rem(-30);
        }
        .EasyStepsCard__item {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 0 rem(24);
            @media #{$md} {
                flex: 0 0 33.3%;
                max-width: 33.3%;
                padding: 0 rem(30);
                margin: 0;
            }
        }
    }
  }
  &:global(:last-child) {
      margin-bottom: 0;
  }
  &:global(.orange) {
      background-color: $theme-orange;
      :global {
        .EasyStepsCard__title {
            color: white;
        }
      }
  }
  &:global(.isGetstarted-easy) {
    margin-bottom: rem(32);
    @media #{$md}{
        margin-bottom: rem(64);
    }
}
}
