@import 'styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.CheckYourSavings {
  background-color: $theme-green;
  padding: rem(49) 0 rem(54);
  overflow: hidden;
  text-align: center;
  @media #{$lg} {
      padding: rem(83) 0 rem(127);
      margin: 0 0 rem(40);
      text-align: left;
  }
  :global {
    .CheckYourSavings__wrap {
        max-width: rem(1145);
        margin: 0 auto;
    }
    label{
        color: $textdark;
        font-family: Aeonik;
        font-size: 9.35px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 14.39px;
        text-align: left;
        margin-bottom: rem(7.2);
        @media #{$xl}{
            font-size: 13px;
            line-height: 20px;
            margin-bottom: rem(7.2);
        }
    }
    .d-mob {
        display: block;
        @media #{$xl} {
            display: none;
        }
    }
    .d-desktop{
        display: none;
        @media #{$xl} {
            display: block;
        }
    }
    .CheckYourSavings__top {
        text-align: center;
        margin: 0 0 rem(22.99);
        max-width: 1032px;
        @media #{$xl} {
            margin: 0 0 rem(100);
        }
        .left-side {
            flex: 0 0 100%;
            max-width: 100%;
            @media #{$xl} {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .right-side {
            flex: 0 0 100%;
            max-width: 100%;
            @media #{$xl} {
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: rem(20);
                margin: rem(75) 0 0;
            }
        }
        .eyebrow {
            font-family: $degular;
            display: block;
            font-size: rem(16);
            font-weight: 900;
            line-height: rem(20);
            letter-spacing: rem(0.83);
            text-transform: uppercase;
            margin: 0 0 rem(15);
            color: $textdark;
            @media #{$xl} {
                margin: 0 0 rem(26);
            }
        }
        h2 {
            font-family: $degular;
            font-size: rem(30);
            font-weight: 900;
            line-height: rem(30);
            letter-spacing: rem(0.16);
            margin: 0;
            color: $textdark;
            @media #{$smm} {
                font-size: 50px;
                line-height: 50px;
            }
            @media #{$xl} {
                font-size: rem(80);
                line-height: rem(66);
                font-weight: 700;
            }
        }
        p {
            font-family: $aeonik;
            font-size: rem(20);
            line-height: rem(21);
            font-weight: bold;
            color: $textdark;
            margin: 0 0 rem(31);
            @media #{$xl} {
                font-size: rem(21);
                line-height: rem(25);
                max-width: rem(487);
            }
        }
    }
    .CheckYourSavings__holder {
        display: flex;
        flex-wrap: wrap;
        .left-side {
            flex: 0 0 100%;
            max-width: 100%;
            @media #{$xl} {
                flex: 0 0 35%;
                max-width: 35%;
            }
            @media #{$xl} {
                flex: 0 0 40%;
                max-width: 40%;
            }
            h5 {
                font-family: Lato;
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                line-height: rem(30);
                color: $textdark;
                letter-spacing: rem(-0.2);
                max-width: rem(315);
                margin: 0 auto rem(51);
                @media #{$xl} {
                    max-width: 100%;
                    margin: 0 0 rem(30);
                }
            }
            .CakeFormWrap {
                max-width: rem(230);
                margin: 0 auto rem(56);
                @media #{$smm}{
                    max-width: 70%;
                }
                @media #{$xl} {
                    margin: 0;
                    max-width: rem(315);
                }
                .thumb-value{
                    color: $textdark;
                    font-family: Aeonik;
                    font-size: 12.23px;
                    font-weight: 700;
                    letter-spacing: 0.22px;
                    line-height: 17.99px;
                    @media #{$xl}{
                        font-size: 17px;
                        letter-spacing: 0.3px;
                        line-height: 25px;
                    }
                }
                .btn {
                    display: block;
                    height: auto;
                    font-size: rem(17);
                    line-height: rem(18);
                    letter-spacing: rem(0.3);
                    text-transform: uppercase;
                    padding: rem(21) rem(6);
                    border: 0;
                    margin: rem(38) 0 0;
                    @media #{$smm}{
                        margin: 0 auto;
                        margin-top: 34px;
                    }
                    @media #{$xl} {
                        margin: rem(53) 0 0;
                        padding: rem(30) rem(6);
                        font-size: rem(24);
                        line-height: rem(25);
                        letter-spacing: rem(0.42);
                    }
                    img {
                        max-width: rem(50);
                        margin: rem(2) 0 rem(2) rem(5);
                        vertical-align: bottom;
                        @media #{$xl} {
                            max-width: rem(70);
                        }
                    }
                }
                input:focus::placeholder {
                  color: transparent;
                }
                ::placeholder {
                  color: #cfcfcf; /* Firefox */
                }
            }
            .mobile-form-toggle {
              font-size: rem(20);
              line-height: rem(21);
              letter-spacing: rem(0.36);
              border: 0;
              max-width: 290px;
              margin: 0 auto;
              text-transform: uppercase;
              img {
                max-width: rem(50);
              }
            }
        }
        .right-side {
            flex: 0 0 100%;
            max-width: 100%;
            border-radius: rem(10);
            @media #{$md} {
               max-width: 50%;
               margin: 0 auto;

            }
            @media #{$xl} {
                margin: rem(30) 0 0;
                flex: 0 0 60%;
                max-width: 60%;
                padding-left: rem(25);
            }
            .refinance__wrap {
                background-color: white;
                padding: rem(20) rem(6) rem(27.07);
                text-align: center;
                margin: 0 rem(-15);
                @media #{$smm} {
                    padding: 20px 25px;
                }
                @media #{$xl} {
                    border-radius: rem(10);
                    margin: 0 auto;
                    max-width: rem(645);
                    padding: rem(40) rem(15) rem(100);
                }
                @media #{$xl} {
                    max-width: 100%;
                }
                h3 {
                    font-family: $aeonik;
                    font-size: rem(18);
                    font-weight: bold;
                    line-height: rem(21);
                    letter-spacing: (-0.14);
                    color: $textdark;
                    margin: 0 auto rem(12);
                    @media #{$sm}{
                        font-size: rem(30);
                        line-height: rem(42);
                    }
                    @media #{$xl} {
                        font-size: rem(36);
                        line-height: rem(42);
                        letter-spacing: (0.29);
                        margin: 0 auto rem(25);
                    }
                    sup {
                        font-size: rem(5);
                        font-weight: 400;
                        line-height: rem(12);
                        color: $textdark;
                        position: relative;
                        top: -10px;
                        left: -2px;
                        @media #{$xl} {
                            font-size: rem(10);
                            line-height: rem(25);
                            top: -15px;
                            left: -5px;
                        }
                    }
                    span {
                        color: $theme-purple;
                        font-weight: 900;
                        font-size: rem(20);
                        @media #{$smm}{
                            font-size: rem(30);
                        }
                        @media #{$xl} {
                            font-size: rem(40);
                        }
                        &.block {
                            display: block;
                        }
                    }
                    &.top {
                        max-width: rem(248);
                        color: $textdark;
                        @media #{$sm}{
                            max-width: 100%;
                        }
                        @media #{$xl} {
                            max-width: rem(512);
                        }
                        span {
                            font-family: $degular;
                            font-weight: 700;
                            letter-spacing: rem(-0.16);
                            @media #{$xl} {
                                letter-spacing: rem(-0.32);
                            }
                        }
                    }
                }
                h2 {
                    font-family: $degular;
                    // font-size: rem(73);
                    font-size: rem(50);
                    // line-height: 14.51px;
                    letter-spacing: rem(1.47);
                    line-height: 1;
                    color: $textdark;
                    margin: 0 0 rem(12.3);
                    font-weight: 900;
                    text-align: center;
                    @media #{$smm} {
                        font-size: 60px;
                    }
                    @media #{$xl} {
                        // font-size: rem(148);
                        font-size: rem(100);
                        letter-spacing: rem(3);
                        margin: 0 0 rem(40);
                    }
                    span {
                        font-size: rem(35);
                        font-weight: 500;
                        margin-top: rem(-10);
                        // line-height: rem(14.51);
                        display: inline-block;
                        vertical-align: middle;
                        @media #{$xl} {
                            margin-top: 0;
                            // font-size: rem(72);
                            font-size: rem(60);
                        }
                    }
                }
                .small-text {
                    font-family: $aeonik;
                    font-size: rem(5);
                    font-weight: 400;
                    line-height: rem(13);
                    color: $textdark;
                    @media #{$xl} {
                        font-size: rem(10);
                        line-height: rem(25);
                    }
                }
            }
            .personalize_no_button {
              padding: rem(20) rem(6) rem(20);
              @media #{$xl} {
                border-radius: rem(10);
                margin: 0 auto;
                max-width: rem(645);
                padding: rem(40) rem(15) rem(40);
              }
              h3 {
                margin: 0 auto 0;
                }
            }
            .refinance__image {
                display: none;
                max-width: rem(500);
                width: 100%;
                margin: rem(-250) rem(-40) 0 auto;
                position: relative;
                &.active{
                  img {
                    &.imgAnimated {
                      opacity: 1;
                    }
                    &.imgNormal {
                      opacity: 0;
                    }
                  }
                }
                @media #{$xl} {
                    display: block;
                }
                img {
                  transition: all 0.4s ease-in-out;
                  &.imgAnimated {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    opacity: 0;
                  }
                }
            }
            .btn {
              border: 0;
              margin-top: rem(50);
              display: inline-flex;
              font-size: 15.3px;
              font-weight: 700;
              letter-spacing: 0.27px;
              line-height: 45px;
              padding-top: 0;
              padding-bottom: 0;
              min-height: auto;
              padding: 0 rem(26);
              height: auto;
              @media #{$smm}{
                font-size: 20px;
                line-height: rem(50);
              }
              @media #{$xl} {
                font-size: 25.5px;
                letter-spacing: 0.45px;
                line-height: 75px;
                margin-top: rem(41);
              }
              &.d-mob{
                display: inline-flex;
                @media #{$xl}{
                    display: none;
                }
              }
              &.d-desktop{
                display: none;
                @media #{$xl}{
                    display: inline-flex;
                }
              }


            }
        }
        .custom-range{
            margin-bottom: rem(45);
            @media #{$xl} {
                margin-bottom: rem(60);
            }
        }
    }
  }
}
