@import 'styles/global.scss';
.CampaignForm {
    padding: rem(48) rem(0) rem(53);
    @media #{$md} {
        padding: rem(39) rem(0);
    }
     :global {
        .container {
            max-width: rem(1297);
            padding: rem(0) rem(20);
            .ChatCallBlock{
                .ChatCallBlock__wrapper{
                    flex-direction: row;
                    justify-content: space-between;
                    .text-wrapper{
                        color: #121212;
                        font-size: 11.9px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: rem(23);
                        @media #{$md}{
                            font-size: 30.6px;
                            line-height: rem(35);
                        }
                        span{
                            font-size: 9.8px;
                            @media #{$md}{
                                font-size: 25.2px;
                            } 
                        }
                    }
                    .ChatCallBlock__chatbtn{
                        box-shadow: none;
                        background-color: #6CEBCE;
                        border: 0.7px solid #6CEBCE;
                        border-radius: 4.2px;
                        padding: rem(7.7) rem(9.19) rem(9.8) rem(9.82);
                        @media #{$md}{
                            border-radius: 10.8px;
                            padding: rem(19.8) rem(23.19) rem(25.2) rem(25.18);
                            border: 0;
                        }
                        figure{
                            height: 14.08px;
                            max-width: 21.05px;
                            @media #{$md}{
                                height: 36px;
                               max-width: 53.95px;
                            }
                        }
                        .text-wrap{
                            font-size: 11.9px;
                            font-weight: 700;
                            letter-spacing: 0;
                            line-height: 17.5px;
                              color: #414042;
                            @media #{$md}{
                                font-size: 30.6px;
                                line-height: 45px;
                            }
                        }
                    }
                    .btn.call-us{
                        border: 0.7px solid #6CEBCE;
                        border-radius: 4.2px;
                        background-color: #6CEBCE;
                        padding:rem(3) rem(13.06) rem(2.6) rem(13);
                        min-height: auto;
                        @media #{$md}{
                            border: 0;
                            border-radius: 0;
                            background-color: transparent;
                            padding: 0;
                        }
                        .icon-wrapper{
                            margin-right: rem(3.65);
                            @media #{$md}{
                                margin-right: rem(8.98);
                            }
                            img{
                                height: 15.21px;
                                width: 16.45px;
                                margin-right: rem(7.64);
                                @media #{$md}{
                                    height: 38.88px;
                                    width: 42.2px;
                                    margin-right: rem(22);
                                }
                            }
                        }
                    }
                }
            }
            .form__head{
                max-width: rem(681);
                margin: 0 auto;
                h1{
                    color: #414042;
                    font-size: 31.5px;
                    font-weight: 700;
                    letter-spacing: -0.56px;
                    line-height: 35px;
                    text-align: center;
                    @media #{$md}{
                        font-family: "Degular";
                        font-size: 80px;
                        letter-spacing: 3.33px;
                        line-height: 66px;
                        color: #121212;
                    }
                }
            }
            .form__area{
                max-width: rem(558);
                margin: 0 auto;
                .form__area-head{
                    margin-bottom: rem(20.95);
                    @media #{$md}{
                        margin-bottom: rem(24); 
                    }
                    h2{
                        color: #414042;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 17.5px;
                        text-align: center;
                        @media #{$md}{
                            color: #121212;
                            font-size: 24px;
                            letter-spacing: 0;
                            line-height: 25px;
                        }
                    }
                }
            }
            .form__wrap{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .form-field{
                    width: 100%;
                    margin-bottom: rem(17);
                    @media #{$md}{
                        width: calc(50% - 15px);
                        margin-bottom: rem(20);
                    }
                    &.textarea{
                        margin-bottom: rem(41);
                        @media #{$md}{
                            width: 100%;
                            margin-bottom: rem(17);
                        }
                    }
                    .error-message{
                        color: red;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
                input,
                textarea{
                border-radius: 5px;
                background-color: rgba(18,18,18,0.05);
                color: rgba(0,0,0,0.45);
                font-family: Aeonik;
                font-size: 17px;
                letter-spacing: 0;
                line-height: 25px;
                padding: rem(12) rem(15);
                width: 100%;
                border: 0;
                outline: none;
                @media #{$md}{
                    background-color: #ECEBEB;
                    font-size: 17px;
                    letter-spacing: 0;
                    line-height: 25px;        
                   
                     }
                }
                textarea{
                    min-height: rem(150);
                    resize: none;
                    @media #{$md}{
                        width: 100%;
                    }
                }
                .form__submit{
                    text-align: center;
                    width: 100%;
                    .btn{
                        color: #FFFFFF;
                        font-size: 15.3px;
                        font-weight: 700;
                        letter-spacing: 0.27px;
                        line-height: 45px;
                        text-align: center;
                        padding: 0 rem(52);
                        border-radius: 3.6px;
                        background-color: #414042;
                        min-height: 0;
                        height: auto;
                        border: 0;
                        @media #{$md}{
                            font-size: 25.5px;
                            font-weight: bold;
                            letter-spacing: 0.45px;
                            line-height: 75px;
                            padding: 0 rem(44); 
                            border-radius: 6px;
                        }
                    }
                }
            }
            .success__message {
                text-align: center;
                p{
                    color: green;
                    font-weight: 500;
                }
            }
        }
    }
}