@import 'styles/global.scss';

.CheckOutRates {
  :global {
    padding: rem(30) 0 rem(56);
    @media #{$md} {
        padding: rem(60) 0 rem(110);
    }
    .container {
      max-width: rem(1220);
      > .title {
          font-size: rem(44);
          line-height: rem(42);
          font-weight: 900;
          margin: 0 auto rem(50);
          max-width: rem(350);
          text-align: center;
          color: $textdark;
          letter-spacing: 0;
          @media #{$md} {
            color: $textdark;
            font-size: rem(90);
            line-height: rem(63);
            max-width: rem(830);
            letter-spacing: rem(3.38);
          }
      }
    }
    .sub-title {
        font-size: rem(50);
        line-height: rem(48);
        font-weight: bold;
        color: $textdark;
        text-align: center;
        margin: 0 auto rem(72);
        max-width: rem(1072);
        font-family: $aeonik;
        letter-spacing: rem(1.88);
        display: none;
        @media #{$md} {
            display: block;
        }
    }
    .rate-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 rem(-15);
        @media #{$lg} {
            flex-direction: row;
            align-items: unset;
        }
        @media #{$xl} {
            margin: 0 rem(-40);
        }
        .rate-card-hold {
            max-width: rem(600);
            width: 100%;
            padding: 0 rem(15);
            margin: 0 0 rem(30);
            &:last-child {
                margin: 0;
            }
            @media #{$lg} {
                margin: 0;
                max-width: 50%;
                flex: 0 0 50%;
            }
            @media #{$xl} {
                padding: 0 rem(40);
            }
        }
    }

  }
  &:global(.isGetstarted-rate) {
    @media #{$xl}{
        padding: rem(101) 0;
    }
  }
}
