@import 'styles/global.scss';

.RefiOtherRates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 rem(15);
  padding: 0 rem(15);
  :global {
    @media #{$md} {
        margin: 0 0 rem(47);
        padding: 0;
    }
    .RefiOtherRates__logo {
        flex: 0 0 40%;
        max-width: 40%;
        // flex: 0 0 30%;
        // max-width: 30%;
        // @media #{$md} {
        //     flex: 0 0 25%;
        //     max-width: 25%;
        // }
    }
    .RefiOtherRates__details {
        padding: 0 rem(15);
        @media #{$md} {
            padding: 0 rem(35);
        }
        p {
            font-family: $aeonik;
            font-weight: 400;
            color: $textdark;
            font-size: rem(7.5);
            line-height: rem(10);
            letter-spacing: 0;
            @media #{$md} {
                font-size: rem(15);
                line-height: rem(20);
            }
        }
    }
    .RefiOtherRates__rate {
        flex: 0 0 22%;
        max-width: 22%;
        @media #{$md} {
            flex: 0 0 20%;
            max-width: 20%;
        }
        .rate-wrapper {
            display: flex;
            color: $textdark;
            .rate {
                font-family: $aeonik;
                font-size: rem(22.5);
                font-weight: bold;
                line-height: rem(25);
                letter-spacing: rem(-0.2);
                @media #{$md} {
                    font-size: rem(45);
                    line-height: rem(50);
                    letter-spacing: rem(-0.4);
                }
            }
            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: $aeonik;
                em {
                    font-style: normal;
                    font-weight: bold;
                    font-size: rem(8.5);
                    line-height: rem(12.5);
                    letter-spacing: 0;
                    @media #{$md} {
                        font-size: rem(17);
                        line-height: rem(25);
                        margin: rem(2) 0 0;
                    }
                }
                span {
                    font-size: rem(6);
                    line-height: rem(12.5);
                    font-weight: 300;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    margin: 0 0 0 rem(2);
                    @media #{$md} {
                        font-size: rem(12);
                        line-height: rem(25);
                        margin: rem(-1) 0 0 rem(5);
                    }
                }
            }
        }
    }
  }
}
