@import 'styles/global.scss';

.Testimonials {
  background-color: $theme-green;
  padding: rem(40) 0 rem(68);
  margin: 0 0 rem(24);
  @media #{$lg} {
      margin: 0 0 rem(40);
      padding: rem(81) 0 rem(98);
  }
  :global {
    .Testimonials__wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media #{$xl} {
            padding: 0 rem(50) 0 rem(70);
            align-items: center;
            justify-content: unset;
        }
        .Testimonials__left-side {
            flex: 0 0 100%;
            max-width: 100%;
            @media #{$lg} {
                flex: 0 0 45%;
                max-width: 45%;
            }
            .eyebrow {
                display: block;
                margin: 0 0 rem(20);
                font-family: $degular;
                font-weight: 900;
                font-size: rem(16);
                line-height: rem(20);
                letter-spacing: rem(0.83);
                color: $textdark;
                text-transform: uppercase;
            }
            h2 {
                font-family: $degular;
                font-weight: 700;
                font-size: rem(42);
                line-height: rem(48);
                margin: 0 0 rem(25);
                color: $textdark;
                letter-spacing: rem(0);
                padding-right: rem(20);
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 2px;
                @media #{$md} {
                  padding-right: 0;
                  margin: 0 0 rem(85);
                  text-align: left;
                }
                @media #{$lg} {
                    font-size: rem(65);
                    line-height: rem(80);
                    letter-spacing: rem(1);
                    max-width: rem(560);
                    margin: 0 0 rem(55);
                }
            }
            figure {
                max-width: rem(285);
                margin: 0 auto rem(36);
            }
            p {
                font-family: $aeonik;
                font-weight: bold;
                font-size: rem(20);
                line-height: rem(20);
                margin: 0 0 rem(21);
                color: $textdark;
                @media #{$lg} {
                    max-width: rem(375);
                    text-align: center;
                }
                @media #{$lg} {
                    font-size: rem(20);
                    font-weight: 400;
                    text-align: left;
                }
            }
        }
        .Testimonials__right-side {
          flex: 0 0 100%;
          max-width: 100%;
          @media #{$lg} {
              flex: 0 0 55%;
              max-width: 55%;
          }
        }
    }
    .Testimonials__btn-wrap {
        text-align: center;
        @media #{$lg} {
          margin-top: rem(100);
        }
        .btn {
            font-size: rem(17);
            line-height: rem(25);
            letter-spacing: rem(0.3);
            padding: rem(13) rem(30);
            min-height: auto;
            border: none;
            @media #{$lg} {
                font-size: rem(25);
                line-height: rem(75);
                padding: 0 rem(44);
            }
        }
    }
  }
}
