@import 'styles/global.scss';
.CampaginBanner {
    background-color: #6CEBCE;
     :global {
        .banner__slider-control {
            padding-bottom: rem(59.5);
            @media #{$xl} {
                padding-bottom: rem(0);
            }
            text-align: center;
            .banner__next {
                margin-bottom: rem(17.3);
                @media #{$xl} {
                    margin-bottom: rem(15);
                }
                img {
                    width: rem(58);
                    height: rem(57);
                    @media #{$xl} {
                        width: rem(90);
                        height: rem(90);
                    }
                }
            }
            .banner__prev {
               padding-bottom:rem(17.3);
                @media #{$xl} {
                    padding-bottom:rem(15);
                }
                img {
                    width: rem(57);
                    height: rem(58);
                    @media #{$xl} {
                        width: rem(60);
                        height: rem(59);
                    }
                }
            }
            &.page-5{
                display: none;
            }
        }
        .banner__form-fields{
            select{
                background-color: #fff;
                border: 0;
                border-radius: 0.3125rem;
                color: rgba(0,0,0,0.45);
                font-family: Aeonik;
                font-size: 15.36px;
                font-weight: 300;
                letter-spacing: -0.14px;
                line-height: 18px;
                outline: none;
                padding: 0.5625rem 0.625rem;
                width: 100%;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url(/images/drop-down-icon.svg);
                background-position: calc(100% - 14px);
                background-repeat: no-repeat;
                background-size: 1.0625rem 0.5rem;
                padding: rem(6.8) rem(8.3);
                padding-right: rem(54.03);
                @media #{$smm}{
                    font-size: rem(18);
                    line-height: 25px;
                    padding: rem(8) rem(12);
                    background-position: calc(100% - 29px);
                }
                @media #{$xl}{
                font-size: 24px;
                font-weight: 300;
                letter-spacing: -0.21px;
                line-height: 29px;
                padding: rem(13) rem(15);
                padding-right: rem(39);
                max-width: 360px;
                }
            }
        }
        .banner__slider-dots {
            .slider-dots {
                height: rem(6.72);
                width: rem(6.72);
                background-color: #000000;
                opacity: 0.3;
                margin: 0 rem(4.3);
                border-radius: 100%;
                display: inline-block;
                @media #{$xl} {
                    height: rem(10.5);
                    width: rem(10.5);
                    margin: 0 rem(6.8);
                }
                &.active {
                    opacity: 1;
                }
            }
        }
        .d-mob {
            display: block;
            @media #{$smm} {
                display: none;
            }
        }
        .d-desktop{
            display: none;
            @media #{$smm} {
                display: block;
            }
        }
        input {
            color: rgba(0, 0, 0, 0.45);
            font-family: Aeonik;
            font-size: 15.36px;
            padding: rem(6.8) rem(8.3);
            font-weight: 300;
            letter-spacing: -0.14px;
            line-height: 18px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 3.2px;
            outline: 0;
            border: 0;
            margin-bottom: rem(6.36);
            padding-right: 50px;
            @media #{$xl} {
                max-width: 330px;
                padding: rem(13) rem(15);
                font-family: Aeonik;
                font-size: 17px;
                letter-spacing: 0;
                line-height: 25px;
                margin-right: rem(30);
                border-radius: 5px;
                margin-bottom: rem(0);
            }
        }
        label{
            color: #414042;
            font-family: Aeonik;
            // font-size: 14px;
            // letter-spacing: -0.11px;
            // line-height: 26.54px;
            font-size: 9.2px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 14.15px;
            margin-bottom: rem(6.85);
            display: block;
            text-align: left;
            @media #{$smm}{
                // font-size: 16px;
                // font-weight: 700;
                font-size: 13px;
                line-height: 20px;
                margin-bottom: rem(10);
            }
            @media #{$xl}{
                // color: rgba(0,0,0,0.45);
                // font-size: 24px;
                // font-weight: 300;
                // letter-spacing: -0.21px;
                // line-height: 29px;
               
            }
        }
        .btn{
            color: #FFFFFF;
            font-size: 15.3px;
            font-weight: 700;
            letter-spacing: 0.27px;
            line-height: 45px;
            text-align: center;
            padding: 0 rem(40);
            border-radius: 3.6px;
            background-color: #414042;
            min-height: 0;
            @media #{$xl}{
                font-size: 18.5px;
            }
            @media #{$xl}{
                font-size: 25.5px;
                letter-spacing: 0.45px;
                line-height: 75px;
                padding: 0 rem(44); 
                border-radius: 6px;
            }
        }
                    .form__dollar-wrap{
                position: relative;
                display:block;
                input{
                    padding-left: rem(20)!important;
                    @media #{$smm}{
                        padding-left: rem(23)!important;
                    }
                    @media #{$xl}{
                        padding-left: rem(25)!important;
                    }
                }
                &:after{
                    content: "$";
                    position: absolute;
                    left: rem(10);
                    font-family: Aeonik;
                    font-size: 15.36px;
                    font-weight: 300;
                    letter-spacing: -0.14px;
                    line-height: 18px;
                    color: rgba(0, 0, 0, 0.45);
                    top: 50%;
                    transform: translateY(calc(-50% - 2.6px));
                    
                    @media #{$smm}{
                        font-size: 18px;
                    }
                    @media #{$xl} {
                        font-size: 24px;
                        font-weight: 300;
                        letter-spacing: -0.21px;
                        transform: translateY(-50%) ;
                    }
                }
            }
        .slide-1 {
            padding: rem(9) 0 rem(50);
            @media #{$xl} {
                padding: rem(13) 0 rem(68);
            }
            .banner__hero {
                margin-bottom: rem(10);
                @media #{$xl}{
                    margin-bottom: rem(36);
                }
            
                h1 {
                    color: #FFFFFF;
                    font-family: "Degular";
                    font-size: 36px;
                    font-weight: 900;
                    letter-spacing: -0.41px;
                    line-height: 32.16px;
                    text-align: center;
                    margin-bottom: 0;
                    @media #{$smm}{
                        font-size: 60px;
                        line-height: 80px;
                    }
                    @media #{$xl} {
                        font-size: 120px;
                        letter-spacing: 3px;
                        line-height: 90px;
                    }
                }
            }
            .banner__content {
                margin-bottom: rem(24);
                max-width: rem(780);
                margin: 0 auto;
                @media #{$xl} {
                    margin: 0 auto;
                    margin-bottom: rem(60);
                }
                h2 {
                    color: #121212;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.12px;
                    line-height: 16px;
                    text-align: center;
                    @media #{$smm} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media #{$xl} {
                        color: #414042;
                        font-size: 40px;
                        letter-spacing: -0.32px;
                        line-height: 45px;
                        text-align: center;
                    }
                }
            }
            .banner__form {
                max-width: rem(230);
                margin: 0 auto;
                @media #{$smm}{
                    max-width: 70%;
                }
                @media #{$xl}{
                    margin-left: rem(129);
                    max-width: 100%;
                }
                .banner__form-head {
                    margin-bottom: rem(13.46);
                    @media #{$smm}{
                        margin-bottom: rem(25);
                    }
                    @media #{$xl} {
                        margin-bottom: rem(40);
                    }
                    h3 {
                        color: #414042;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: -0.13px;
                        line-height: 26.54px;
                        margin-bottom: 0;
                        @media #{$smm}{
                            font-size: 30px;
                            line-height: 45px; 
                        }
                        @media #{$xl} {
                            font-size: 50px;
                            letter-spacing: -0.4px;
                            line-height: 36px;
                        }
                    }
                }
                .banner__form-fields {
                    display: flex;
                    flex-wrap: wrap;
                    .banner__inputs{
                        margin-bottom: rem(6.36);
                        width: 100%;
                        @media #{$xl}{
                            min-width: 330px;
                            margin-right: rem(30);
                            margin-bottom: rem(0);
                            width: auto;
                        }
                    }
                    input {
                        color: rgba(0, 0, 0, 0.45);
                        font-family: Aeonik;
                        font-size: 15.36px;
                        padding: rem(6.8) rem(8.3);
                        font-weight: 300;
                        letter-spacing: -0.14px;
                        line-height: 18px;
                        width: 100%;
                        background-color: #FFFFFF;
                        border-radius: 3.2px;
                        outline: 0;
                        border: 0;
                        margin-bottom: rem(6.36);
                        @media #{$smm}{
                            font-size: 18px;
                            line-height: 29px;
                        }
                        @media #{$xl} {
                            padding: rem(13) rem(15);
                            font-size: 24px;
                            font-weight: 300;
                            letter-spacing: -0.21px;
                            line-height: 29px;
                            border-radius: 5px;
                       
                        }
                    }
                }
            }
        }
        .slide-2 {
            padding: rem(13) rem(30) rem(59.5);
            @media #{$smm}{
                padding: rem(50) 0 rem(59.5);
            }
            @media #{$xl} {
                padding: rem(131) 0 rem(118);
            }
            .banner__hero {
                h1 {
                    color: #414042;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: -0.13px;
                    line-height: 16.54px;
                    margin-bottom: rem(23.46);
                    @media #{$smm}{
                        font-size: 60px;
                        line-height: 80px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(60);
                    }
                    &.d-mob{
                        margin-bottom: rem(6.92);
                    }
                }
                h2 {
                    color: #414042;
                    font-size: 14px;
                    letter-spacing: -0.11px;
                    line-height: 26.54px;
                    @media #{$smm} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        font-weight: 700;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(40);
                    }
                }
                
            }
            .banner__form{
                @media #{$smm}{
                    max-width: 70%;
                    margin: 0 auto;
                }
                @media #{$xl}{
                    max-width: 100%;
                    margin: 0;
                }
            }
        }
        .slide-3{
            max-width: rem(985);
            margin: 0 auto;
            padding: rem(13) rem(30) rem(39);
            @media #{$xl}{
                padding: rem(246) 0 rem(118);
            }
            .banner__hero {

                h1 {
                    color: #414042;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: -0.13px;
                    line-height: 16.54px;
                    margin-bottom: rem(6.92);
                    @media #{$smm}{
                        font-size: 30px;
                        line-height: 35px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(30);
                    }
                }
                h2 {
                    color: #414042;
                    font-size: 14px;
                    letter-spacing: -0.11px;
                    line-height: 26.54px;
                    @media #{$smm} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        font-weight: 700;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(40);
                    }
                }
                
            }
            .banner__form{
                margin-bottom: rem(39);
                @media #{$smm}{
                    max-width: 70%;
                    margin: 0 auto;
                }
                @media #{$xl}{
                    max-width: 100%;
                    margin: 0;
                }
                .banner__form-fields{
                    @media #{$xl}{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            input,select {
                color: rgba(0, 0, 0, 0.45);
                font-family: Aeonik;
                font-size: 15.36px;
                padding: rem(6.8) rem(8.3);
                padding-right: rem(50);
                font-weight: 300;
                letter-spacing: -0.14px;
                line-height: 18px;
                width: 100%;
                background-color: #FFFFFF;
                border-radius: 3.2px;
                outline: 0;
                border: 0;
                margin-bottom: rem(6.36);
                @media #{$smm}{
                    font-size: 18px;
                    line-height: 29px;
                }
                @media #{$xl} {
                    min-width: rem(260);
                    max-width: rem(260);
                    padding: rem(10) rem(5);
                    padding-right: rem(50);
                    font-size: 24px;
                    font-weight: 300;
                    letter-spacing: -0.21px;
                    line-height: 29px;
                    margin-right: rem(30);
                    border-radius: 5px;
                    margin-bottom: rem(0);
                }
            
            }
            .banner__select{
                &:last-child{
                    select{
                        margin-right: 0;
                    }
                }
            }
    }
        .slide-4{
            padding: rem(13) rem(30) rem(27);
            @media #{$xl}{
                padding: rem(227) 0 rem(118);
            }
            .banner__hero {
                h1 {
                    color: #414042;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: -0.13px;
                    line-height: 16.54px;
                    margin-bottom: rem(6.92);
                    @media #{$smm}{
                        font-size: 60px;
                        line-height: 80px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(30);
                    }
                }
                h2 {
                    color: #121212;
                    font-size: 14px;
                    letter-spacing: -0.11px;
                    line-height: 16px;
                    font-weight: 400;
                    @media #{$smm} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        font-weight: 700;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(40);
                    }
                }
                
            }
            .banner__form{
                .banner__form-fields{
                    @media #{$smm}{
                        max-width: 70%;
                        margin: 0 auto;
                        max-width: 100%;
                    }
                    @media #{$xl}{
                        max-width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .banner__select{
                    @media #{$xl}{
                        min-width: rem(260);
                        max-width: rem(260);
                    }
                }
                input{
                    color: rgba(0, 0, 0, 0.45);
                    font-family: Aeonik;
                    font-size: 15.36px;
                    padding: rem(6.8) rem(8.3);
                    padding-right: rem(50);
                    font-weight: 300;
                    letter-spacing: -0.14px;
                    line-height: 18px;
                    width: 100%;
                    background-color: #FFFFFF;
                    border-radius: 3.2px;
                    outline: 0;
                    border: 0;
                    margin-bottom: rem(6.36);
                    @media #{$smm}{
                        font-size: 18px;
                        line-height: 29px;
                    }
                    @media #{$xl} {
                        padding: rem(10) rem(5);
                        padding-right: rem(50);
                        font-size: 24px;
                        font-weight: 300;
                        letter-spacing: -0.21px;
                        line-height: 29px;
                        margin-right: rem(30);
                        border-radius: 5px;
                        margin-bottom: rem(0);
                    }
                }
            }
        }
        .slide-5{
            padding: rem(13) rem(30) ;
            max-width: rem(839);
            margin: 0 auto;
            @media #{$xl}{
                padding: rem(227) rem(0) rem(50)
            }
            .banner__hero { 
                h1 {
                    color: #414042;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: -0.13px;
                    line-height: 16.54px;
                    margin-bottom: rem(6.92);
                    @media #{$smm}{
                        font-size: 60px;
                        line-height: 80px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(60);
                    }
                }
                h2 {
                    color: #121212;
                    font-size: 14px;
                    letter-spacing: -0.11px;
                    line-height: 16px;
                    font-weight: 400;
                    margin-bottom: rem(10);
                    @media #{$smm} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media #{$xl} {
                        font-size: 50px;
                        font-weight: 700;
                        letter-spacing: -0.4px;
                        line-height: 36px;
                        margin-bottom: rem(40);
                    }
                }
                
            }
            .banner__form{
                text-align: center;
                    .banner__form-fields{
                        margin-bottom: rem(76);
                        @media #{$xl}{
                            margin-bottom: rem(118);
                            display: flex;
                            flex-wrap: wrap;
                        }
                        .banner__inputs{
                            input {
                                color: rgba(0, 0, 0, 0.45);
                                font-family: Aeonik;
                                font-size: 15.36px;
                                padding: rem(6.8) rem(8.3);
                                font-weight: 300;
                                letter-spacing: -0.14px;
                                line-height: 18px;
                                width: 100%;
                                background-color: #FFFFFF;
                                border-radius: 3.2px;
                                outline: 0;
                                border: 0;
                                margin-bottom: rem(6.36);
                                @media #{$smm}{
                                    font-size: 18px;
                                    line-height: 29px;
                                }
                                @media #{$xl} {
                                    min-width: 330px;
                                    padding: rem(13) rem(15);
                                    font-size: 24px;
                                    font-weight: 300;
                                    letter-spacing: -0.21px;
                                    line-height: 29px;
                                    margin-right: rem(30);
                                    border-radius: 5px;
                                    margin-bottom: rem(0);
                                }
                            }
                           
                        }
                    }
                    .btn{
                        margin-bottom: rem(35.75);
                        font-size: 22.95px;
                        font-weight: bold;
                        letter-spacing: 0.41px;
                        line-height: 67.5px;
                        padding:rem(0) rem(39)rem(0) rem(40);
                        @media #{$xl}{
                            font-size: 25.5px;
                            letter-spacing: 0.45px;
                            line-height: 75px;
                            margin-bottom: rem(22);
                            padding: rem(0)rem(44)rem(0) rem(43.5);
                        }
                    }
            }
        }
        
    }
}
